<div class="row">
  <div class="col-sm-12">
    <h2><%= t('brand.welcome_head') %></h2>
      <div> <%= t('brand.welcome_message').html_safe %> </div>
  </div>
</div>
    <%= render partial: 'shared/search', locals: {
      :search_url => "/search",
      :title => t('archive._plural'),
      :limit_options => [
            ["#{t('actions.search')} #{t('search-limits.all')}",''],
            [t('search-limit', :limit => t('search-limits.resources')),'resource'],
            [t('search-limit', :limit => t('search-limits.digital')),'digital_object']
          ],
      :field_options => [
            ["#{t('search_results.filter.fullrecord')}",''],
            ["#{t('search_results.filter.title')}",'title'],
            ["#{t('search_results.filter.creators')}",'creators_text'],
            ["#{t('search_results.filter.subjects')}",'subjects_text'],
            ["#{t('search_results.filter.notes')}", 'notes'],
            ["#{t('search_results.filter.identifier')}", 'four_part_id']
           ]
    } %>
<!-- promo content -->
<%-
promoContent = [
  ['repositories/2','as-manuscripts-collection.jpg','Robert Sparks Walker diary, 1943. Courtesy of the University of Tennessee at Chattanooga Special Collections.', 'Manuscripts'], 
  ['repositories/4','as-university-archives-collection.jpg', 'University of Tennessee Homecoming pamphlet, 1974. Courtesy of the University of Tennessee at Chattanooga Special Collections.' ,'University Archives'], 
  ['repositories/3', 'as-chatt-history-collection.jpg','Lookout Mountain, Chattanooga, Tenn. postcard, undated, by Adolph Selige Publishing Co. Courtesy of the University of Tennessee at Chattanooga Special Collections.','Chattanooga History Collections'],
  ['/search?utf8=%E2%9C%93&amp;op%5B%5D=&amp;q%5B%5D=Art&amp;limit=resource&amp;field%5B%5D=subjects_text&amp;from_year%5B%5D=&amp;to_year%5B%5D=&amp;op%5B%5D=OR&amp;q%5B%5D=Artists&amp;field%5B%5D=subjects_text&amp;from_year%5B%5D=&amp;to_year%5B%5D=&amp;op%5B%5D=OR&amp;q%5B%5D=Authors&amp;field%5B%5D=subjects_text&amp;from_year%5B%5D=&amp;to_year%5B%5D=&amp;op%5B%5D=OR&amp;q%5B%5D=Illustration&amp;field%5B%5D=subjects_text&amp;from_year%5B%5D=&amp;to_year%5B%5D=&amp;op%5B%5D=OR&amp;q%5B%5D=Illustrators&amp;field%5B%5D=&amp;from_year%5B%5D=&amp;to_year%5B%5D=&amp;op%5B%5D=OR&amp;q%5B%5D=Literature&amp;field%5B%5D=&amp;from_year%5B%5D=&amp;to_year%5B%5D=&amp;op%5B%5D=OR&amp;q%5B%5D=Theater&amp;field%5B%5D=&amp;from_year%5B%5D=&amp;to_year%5B%5D=&amp;op%5B%5D=OR&amp;q%5B%5D=Music&amp;field%5B%5D=&amp;from_year%5B%5D=&amp;to_year%5B%5D=&amp;commit=Search','as-arts-and-literature-collection.jpg', 'Dutch Interiors poetry postcard by Jane Kenyon with relief engraving by Barry Moser, 1996. Courtesy of the University of Tennessee at Chattanooga Special Collections.', 'Arts and Literature'],
  ['/search?utf8=%E2%9C%93&amp;op%5B%5D=&amp;q%5B%5D=%22Natural+history%22&amp;limit=&amp;field%5B%5D=subjects_text&amp;from_year%5B%5D=&amp;to_year%5B%5D=&amp;op%5B%5D=OR&amp;q%5B%5D=%22Nuclear+energy%22&amp;field%5B%5D=subjects_text&amp;from_year%5B%5D=&amp;to_year%5B%5D=&amp;op%5B%5D=OR&amp;q%5B%5D=%22Tennessee+Valley+Authority%22&amp;field%5B%5D=subjects_text&amp;from_year%5B%5D=&amp;to_year%5B%5D=&amp;commit=Search', 'as-environmentalism-collection.jpg', 'Hill landscape painting, undated, by Emma Bell Miles. Courtesy of the University of Tennessee at Chattanooga Special Collections.', 'Environmentalism'],
  ['/search?utf8=%E2%9C%93&amp;op%5B%5D=&amp;q%5B%5D=%22Brainerd+Mission%22&amp;limit=resource&amp;field%5B%5D=subjects_text&amp;from_year%5B%5D=&amp;to_year%5B%5D=&amp;op%5B%5D=OR&amp;q%5B%5D=%22Indians+of+North+America%22&amp;field%5B%5D=subjects_text&amp;from_year%5B%5D=&amp;to_year%5B%5D=&amp;op%5B%5D=OR&amp;q%5B%5D=Cherokee&amp;field%5B%5D=subjects_text&amp;from_year%5B%5D=&amp;to_year%5B%5D=&amp;commit=Search','as-native-american-collection.jpg', 'Pre-Columbian ceramic vessel. Courtesy of the Chattanooga Public Library and the University of Tennessee at Chattanooga Special Collections.','Native Americans'],
  ['/search?utf8=%E2%9C%93&amp;op%5B%5D=&amp;q%5B%5D=Government&amp;limit=resource&amp;field%5B%5D=subjects_text&amp;from_year%5B%5D=&amp;to_year%5B%5D=&amp;op%5B%5D=OR&amp;q%5B%5D=Politicians&amp;field%5B%5D=subjects_text&amp;from_year%5B%5D=&amp;to_year%5B%5D=&amp;op%5B%5D=OR&amp;q%5B%5D=Politics&amp;field%5B%5D=subjects_text&amp;from_year%5B%5D=&amp;to_year%5B%5D=&amp;op%5B%5D=OR&amp;q%5B%5D=%22Political+cartoons%22&amp;field%5B%5D=&amp;from_year%5B%5D=&amp;to_year%5B%5D=&amp;commit=Search', 'as-politics-and-government.jpg', 'Detail of Vote Ribbon from the Marilyn Lloyd papers, undated. Courtesy of the University of Tennessee at Chattanooga Special Collections.', 'Politics and Government'],
  ['/search?utf8=%E2%9C%93&amp;op%5B%5D=&amp;q%5B%5D=Segregation&amp;limit=resource&amp;field%5B%5D=subjects_text&amp;from_year%5B%5D=&amp;to_year%5B%5D=&amp;op%5B%5D=OR&amp;q%5B%5D=%22Civil+rights+movements%22&amp;field%5B%5D=subjects_text&amp;from_year%5B%5D=&amp;to_year%5B%5D=&amp;op%5B%5D=OR&amp;q%5B%5D=%22Black+Power%22&amp;field%5B%5D=subjects_text&amp;from_year%5B%5D=&amp;to_year%5B%5D=&amp;op%5B%5D=OR&amp;q%5B%5D=%22Social+justice%22&amp;field%5B%5D=subjects_text&amp;from_year%5B%5D=&amp;to_year%5B%5D=&amp;op%5B%5D=OR&amp;q%5B%5D=%22Gun+control%22&amp;field%5B%5D=subjects_text&amp;from_year%5B%5D=&amp;to_year%5B%5D=&amp;commit=Search', 'as-social-justice-collection.jpg', '&#39;Officials Forced To Resort To Fire Hose As City Has Worst Racial Disturbance&#39; newspaper clipping, 1960 February 25, by the Chattanooga News-Free Press. Courtesy of the Chattanooga Public Library and the University of Tennessee at Chattanooga Special Collections.', 'Social Justice'],
  ['/search?utf8=%E2%9C%93&amp;op%5B%5D=&amp;q%5B%5D=Religion&amp;limit=resource&amp;field%5B%5D=subjects_text&amp;from_year%5B%5D=&amp;to_year%5B%5D=&amp;op%5B%5D=OR&amp;q%5B%5D=Church&amp;field%5B%5D=subjects_text&amp;from_year%5B%5D=&amp;to_year%5B%5D=&amp;op%5B%5D=OR&amp;q%5B%5D=%22Religious+life+and+customs%22&amp;field%5B%5D=subjects_text&amp;from_year%5B%5D=&amp;to_year%5B%5D=&amp;commit=Search', 'as-religion-collection.jpg', 'Woman&#39;s baptism photograph, undated, photographed by Mary Vance. Courtesy of the University of Tennessee at Chattanooga Special Collections.', 'Religion']
]
i=0
%>
<div id="promo" class="container-fluid" style="text-align: center;">
<h2 class="as-c-h2--margin-bottom">Browse by <%= t('repository._plural') %></h2>
<div class="row">
<div class="col-md-8 col-md-offset-2 as-l-row-eq-height">
  <%- promoContent.each do |row| %>
  <%- if i == 3 %>
  </div></div>
  <h2 class="as-c-h2--margin-bottom">Browse by Selected Topics</h2>
  <div class="row">
  <div class="col-md-8 col-md-offset-2 as-l-row-eq-height">
  <%- end %>
  <%- if i == 6 %>
  </div></div>
  <div class="row">
  <div class="col-md-8 col-md-offset-2 as-l-row-eq-height">
  <%- end %>
    <div class="col-md-4 as-l-margin-bottom">
      <div class="as-c-thumbnail__border">
        <a href="<%= row[0] %>">
        <div class="thumbnail as-c-thumbnail">
          <img src="/assets/images/<%= row[1] %>" alt="<%= row[2] %>">
          <div class="caption">
          <h3><%= row[3] %></h3>
        </div>
      </div>
        </a>
    </div></div>
  <%-
  i = i+1
  end 
  %>
  </div></div></div>